In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('Tourist_Arrival_2018.csv')

In [5]:
df.tail()

,Country,Jan,Feb,Mar,Apr,May,June,July,Aug,Sept,Oct,Nov,Dec,Total
15,United Kingdom,56,228,530,354,168,72,65,87,397,768,663,197,3585
16,Singapore,63,176,349,315,363,369,107,216,342,310,322,954,3886
17,Thailand,51,359,437,772,457,236,130,73,220,287,336,528,3886
18,China,184,527,757,764,608,331,412,584,825,768,612,506,6878
19,USA,360,691,1170,1152,644,489,281,288,986,2362,1425,713,10561

In [8]:
list(df)

['Country',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'June',
 'July',
 'Aug',
 'Sept',
 'Oct',
 'Nov',
 'Dec',
 'Total']

In [9]:
sorted_value = df.sort_values(by='Total',ascending=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  20 non-null     object
 1   Jan      20 non-null     int64
 2   Feb      20 non-null     int64
 3   Mar      20 non-null     int64
 4   Apr      20 non-null     int64
 5   May      20 non-null     int64
 6   June     20 non-null     int64
 7   July     20 non-null     int64
 8   Aug      20 non-null     int64
 9   Sept     20 non-null     int64
 10  Oct      20 non-null     int64
 11  Nov      20 non-null     int64
 12  Dec      20 non-null     int64
 13  Total    20 non-null     int64
dtypes: int64(13), object(1)
memory usage: 2.3+ KB

In [16]:
df = df.dropna()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  20 non-null     object
 1   Jan      20 non-null     int64
 2   Feb      20 non-null     int64
 3   Mar      20 non-null     int64
 4   Apr      20 non-null     int64
 5   May      20 non-null     int64
 6   June     20 non-null     int64
 7   July     20 non-null     int64
 8   Aug      20 non-null     int64
 9   Sept     20 non-null     int64
 10  Oct      20 non-null     int64
 11  Nov      20 non-null     int64
 12  Dec      20 non-null     int64
 13  Total    20 non-null     int64
dtypes: int64(13), object(1)
memory usage: 2.3+ KB